html,
body {
  /* background: https://source.unsplash.com/random/900x700/?fruit; */
  /* background-color: #0a1f44; */
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  /* height: 100%; */
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

div#result-data {
  border-radius: 50px;
  background: #e2e1e1be;
  padding-right: 28px;
}

div#result-data:hover {
  background: #b9b9b9f1;
  border-radius: 50px;
  transition: 2s ease;
}

h1.h3.mb-3.my-4.fw-normal.text-center {
  background: #1a1a1c;
  border-radius: 21px;
  padding: 13px 8px;
  color: white;
}

body::-webkit-scrollbar {
  width: 11px;
}
.card:hover {
  background-color: rgb(132, 94, 144);
  transform: scale(1.1);
}



body::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(0, 35, 211) 70%);
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh rgb(45, 42, 42);
    border-radius: 8px;
}



#preloader{
    background: #fdcfff url('../assets/preloader.gif') no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
}
#home-cookie
{
    width: 60%;
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}

#searchBar {
  display: flex;
  gap: 10px;
}

#searchCard {
  width: 20rem;
  border: 2px solid #FFABE1;
}

#searchCard:hover {
  border: 3px solid white;
}

#hamburger {
  border: 2px solid #FFABE1;
}
