body {
  background-image: linear-gradient(90deg, #33b7e2, #5e62b0, #dc307c);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background-color: rgb(132, 94, 144);
  transform: scale(1.025);
}

.card h2 {
  color: #23457c;
  text-transform: capitalize !important;
  font-size: 1.25rem;
  text-align: center;
  font-size: 24px;
  margin: 0;
  text-decoration: none;
}
.card-img-top {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

/* #android-card {
    background-color: #a4c639;
  }
  
  #web-card {
    background-color: #0099cc;
  }
  
  #ml-card {
    background-color: #9933cc;
  }
  
  #cpp-card {
    background-color: #f34b7d;
  }
  
  #java-card {
    background-color: #ff8c00;
  }
  
  #python-card {
    background-color: #007396;
  } */

@media only screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 80%;
  }
}
