.container2 {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(177, 177, 177, 0.18);
  border-radius: 40px;
  padding: 100px 20px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  width: 80vw;
  text-align: center;
  border-color: rgba(176, 176, 176, 0.5);
  transition: all 0.5s ease-in-out;
  margin: auto;
}

.contianer2 h3 {
  margin: 250;
  letter-spacing: 10px;
  opacity: 5;
}

.joke {
  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  font-weight: normal;
  max-width: 600px;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 80px;
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #a3d279;
  font-weight: bold;
  color: black;
  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.1),
    0 6px 6px rgba(0, 0, 0, 0, 0.1);
}

.btn:active {
  transform: scale(0.98);
  /* it will shrink while we click the button */
}

.btn:focus {
  outline: 0;
}

/* copy button */
.copy_btn {
  padding: 18px 20px;
  margin-left: 10px;
}

/* Loading Spinner */
.lds-ring {
  visibility: hidden;
  width: 40px;
  height: 40px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #262626 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    border-radius: 10px;
    padding: 15px 15px;
    display: grid;
    align-items: center;

    text-align: center;
  }

  .toggle {
    width: 4rem;
    height: 4rem;
    background-color: #b9ec91;
    position: initial;

    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: rgba(135, 240, 87, 0.89) 0px 25px 50px -12px;
    cursor: pointer;
  }
}

.heading {
  font-weight: bold;
}
